<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Details</title>
</head>
<body>
    <form action="/successform" method="post">
        NAME: <input type="text" name="name" required><br>
        EMAIL: <input type="text" name="email" required><br>
        PASSWORD: <input type="text" name="password" required><br>
        MOBILE NO: <input type="text" name="mobile" required><br>
        <input type="submit" value="Enter">
    </form>
</body>
</html>
