<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="database.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\pythoncurd" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\surya\AppData\Local\Programs\Python\Python311\python.exe|C:\Users\surya\AppData\Local\Programs\Python\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="database.py" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
